.container 
  .hero-unit
    .hero-unit2
      %center
        %h2 Gestión de usuarios
        %br
      - User.all.each do |k|
        %li 
          #{k.name} #{k.surnames} (#{k.username}) - [
          %a{:href => "/admin/users/edit/#{k.id}"}Editar
          ,
          %a{:href => "/admin/users/delete_user/#{k.id}"} Borrar
          ]
      %br
      %a{:href => "/bbdd/destroy_users"} Borrar todos
      %center
        %a{:href => "/admin/panel"} Regresar
        %a{:href => "/"} Salir