%form{:action => "/edit_profile", :method => "post"}
  %input.span12{:placeholder=>"Nombre", :type=>"text", :name=>"name", :value => "#{us.name}"}
  %input.span12{:placeholder=>"Apellidos", :type=>"text", :name=>"surnames", :value => "#{us.surnames}"}
  %input#disabledInput.span12{:disabled=> "disabled", :placeholder=>"Correo electrónico", :type=>"text", :name=>"email", :value => "#{us.email}"}
  %input#disabledInput.span12{:disabled=> "disabled", :placeholder=>"Nombre de usuario", :type=>"text", :name=>"username", :value => "#{us.username}"}
  %textarea.span12{:rows=>"3", :placeholder=>"Sobre mi", :type=>"text-area", :name=>"comment"} #{us.comment}          
  %span
    %button.btn.btn-primary{:type => "submit"}Aceptar
  %span
    %button.btn.btn-danger{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancelar 