.hero-unit
  .row-fluid
    .span9
      .hero-unit2
        %center
          %h4 #{file.filename}
          %iframe{:height => "780", :src => "http://docs.google.com/viewer?url=http://obscure-savannah-8776.herokuapp.com/download/#{file.id}&embedded=true", :style => "border: none;", :width => "100%"}
    .span3
      .hero-unit2
        %b Nombre:
        #{file.filename}
        %p
        %b Usuario que lo compartió: 
        #{file.uploader}
        %p
        %b Puntuación: 
        #{file.calification} estrella(s)
        %p
        %b Nº de votos:
        #{file.numberVotes} voto(s)
        %p
        %b Votar: 
        [
        %a{:href => "/file/vote/#{sub.id}/#{file.id}/1"}1
        ,
        %a{:href => "/file/vote/#{sub.id}/#{file.id}/2"}2
        ,
        %a{:href => "/file/vote/#{sub.id}/#{file.id}/3"}3
        ,
        %a{:href => "/file/vote/#{sub.id}/#{file.id}/4"}4
        ,
        %a{:href => "/file/vote/#{sub.id}/#{file.id}/5"}5
        ]
        estrella(s)
      - if ids.include?(us.id)
        Ya votó
        %p
        %a.btn.btn-success{:href => "/download/#{file.id}"}Descargar
        %br
        %br
        %a{:href => "/subjects/#{sub.id}"} Regresar
