.row-fluid
  - ids.each do|id|
    .span6
      .hero-unit
        .hero-unit2
          %h4 #{users.get(id).username}
          .scrollspy
          - us.messages.each do|m|
            - if ((m.from == id) || (m.to == id))
              .nil  
                %span
                  %b #{users.get(m.from).username}
                  #{m.time.strftime("%m/%d/%Y %I:%M")}
                %br
                .box
                  #{m.body} 
                  %a.btn.btn-small.btn-danger{:href => "/delete_message/#{m.id}"} Borrar
                %br
          %a.btn.btn-info{:href => "#", :role => "button"} Responder
          = haml :send_message, :locals => { :id => id}
