.hero-unit
  .hero-unit2
    %h3 #{sub.subjectname}
    %h4 Archivos
    %a.btn.btn-success{:href => "/upload"} Compartir un archivo
    %table.table
    - Files.all.each do |aux|
      %tr
        %td= aux.filename
        %td= aux.date
        %td= aux.size
        %td= aux.calification
        %td 
          %a.btn.btn-info{:href => "/download/#{aux.id}"} Descargar
