%body{:onload => "valida_upload(#{opc});"}
.hero-unit
  .hero-unit2
    .row-fluid
      %h3 #{sub.subjectname} (#{sub.course}º Curso)
      %h4 Descripción: #{Haml::Engine.new(sub.description.gsub(10.chr, '<br/>')).render}
      %span
        %a.btn.btn-success{"data-toggle" => "modal", :href => "#myModal", :role => "button"} Compartir archivo
      #myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h3#myModalLabel Subir archivo
        .modal-body
          = haml :upload, :locals => { :id => "#{sub.id}"} 
    %h4 Archivos
      
            
    %table.table
    - sub.filess.each do |aux|
      %tr
        Nombre: 
        %td
          =aux.filename
          [
          %a{:href => "/file/#{sub.id}/#{aux.id}"}Vista previa
          ]
        %br
        Fecha de subida: 
        %td= aux.date
        %br
        Tamaño: 
        %td= "#{aux.size} bytes"
        %br
        Valoración: 
        %td= "#{aux.calification} estrellas"
        %br
        %br
        %td 
          %a.btn.btn-info{:href => "/download/#{aux.id}"} Descargar
    %br
    %br
    %a{:href => "/profile"} Regresar
